.fontReg {
    font-family: "Audimat";
}

.fontLight {
    font-family: "AudimatLight";
}

.fontBold {
    font-family: "AudimatDemiBold";
}

.fontBolder {
    font-family: "AudimatBold";
}

.fontReg-Italic {
    font-family: "Audimat-Italic";
}

.fontLight-Italic {
    font-family: "AudimatLight-Italic";
}

.fontBold-Italic {
    font-family: "AudimatDemiBold-Italic";
}

.fontBolder-Italic {
    font-family: "AudimatBold-Italic";
}

/* NORMAL */

@font-face {
    font-family: "Audimat";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AudimatDemiBold";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AudimatBold";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras.svg") format("svg");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "AudimatLight";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger.svg") format("svg");
    font-weight: light;
    font-style: normal;
}

/* ITALIC */

@font-face {
    font-family: "Audimat-Italic";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier-Italique.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier-Italique.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier-Italique.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier-Italique.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Regulier-Italique.svg") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "AudimatDemiBold-Italic";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras-Italique.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras-Italique.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras-Italique.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras-Italique.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Mi-gras-Italique.svg") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "AudimatBold-Italic";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras-Italique.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras-Italique.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras-Italique.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras-Italique.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Gras-Italique.svg") format("svg");
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "AudimatLight-Italic";
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger-Italique.eot");
    src: url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger-Italique.woff2") format("woff2"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger-Italique.woff") format("woff"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger-Italique.ttf") format("truetype"),
        url("https://cdn.statically.io/gh/AristideBH/webFonts/main/Audimat3000/A3000-Leger-Italique.svg") format("svg");
    font-weight: light;
    font-style: italic;
}

.test {}